/* Reset margin dan padding */
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden; /* Menyembunyikan scroll */
        }

        /* Mengatur iframe agar responsif */
        iframe {
            width: 100%;
            height: 100%;
            border: none; /* Menghilangkan border iframe */
        }
